{% extends 'base.html' %}
{% block content %}
<div class="container-text">
    <div>
        <h3>Заказчик</h3>
        <p><a class="links" target="_balnk" rel="noopener noreferrer" href='https://www.vniizht.ru'>ВНИИЖТ</a> — крупнейшая в России научно-исследовательская организация по разработке транспортных технологий в области железнодорожного транспорта.</p>
    </div>
    <div>
        <h3>Описание кейса</h3>
        <p>Основная задача заключается в сопоставлении координат РЖД (километры, пикеты железнодорожного полотна) с общепринятыми (широта, долгота).</p>
    </div>
    <div>
        <h3>Формат</h3>
        <p>Проект реализован в виде веб-приложения + API, которые получают на вход направление железной дороги, километр и пикет, а на выходе выдают широту и долготу этого пикета.</p>
    </div>
    <div>
        <h3>Команда</h3>
        <p>Прошин Михаил — лидер проекта<br>
        Дмитрий Ковалёв — разработчик<br>
        Иван Бодрягин — разработчик<br>
        Светлана Тамкович — фронтэнд разработчик<br>
        Степан Гальцов — технический писатель</p>
    </div>
</div>
{% endblock %}