{% extends 'base.html' %}
{% block content %}
<div class="container-text">
    <div>
        <h3>Как пользоваться API</h3>
        <p>
            API возвращает JSON файл
            <ul>
                <li><a class="links" href="/api">/api</a><br>список названий доступных маршрутов<br>"название маршрута"<br />&nbsp;</li>
                <li><a class="links" href="/api/Барановский%20~%20Хасан%20(эксп.)">/api/Барановский ~ Хасан (эксп.)</a> [/название маршута]<br>список станций по маршруту<br>[станция, километр.пикет от начала маршрута, широта, долгота]<br />&nbsp;</li>
                <li><a class="links" href="/api/Барановский%20~%20Хасан%20(эксп.)/23.5">/api/Барановский ~ Хасан (эксп.)/23.5</a> [/километр.пикет]<br>искомая точка (словарь)<br>{"coords": [широта, долгота], "diameter": диаметральная погрешность в км, "km_p": километр.пикет, "name": название маршута, "stations": [[станция, расстояние до нее в км.п], [станция, расстояние до нее в км.п]]}<br />&nbsp;</li>
            <ul>
        </p>
</div>
{% endblock %}