{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="point">
        <h3>Заказчик</h3>
        <h3>ВНИИЖТ — крупнейшая в России научно-исследовательская организация по разработке транспортных технологий в области железнодорожного транспорта.</h3>
    </div>
    <div class="point">
        <h3>Описание кейса</h3>
        <h3>Основная задача заключается в сопоставлении координат РЖД(километры, пикеты жд полотна) с общепринятыми(долгота, широта).</h3>
    </div>
    <div class="point">
        <h3>Формат</h3>
        <h3>Проект реализован в виде веб-приложения+API, которые получают на вход направление железной дороги, километр и пикет, а на выходе выдают широту и долготу этого пикета.</h3>
    </div>
    <div class="point">
        <h3>Команда</h3>
        <h3>Прошин Михаил — лидер проекта, Дмитрий Ковалёв — разработчик, Иван Бодрягин — разработчик, Светлана Тамкович — фронтэнд разработчик, Степан Гальцов — технический писатель</h3>
    </div>
</div>
{% endblock %}